body{
    margin: 0;
    font-size: arial;
    background-color: #18191A;
}
a{
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #000;
    justify-content: space-between;
}
header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0;
}
.logo{
    width: 20%;
    display: flex;
    float: left;
}
.logo img{
    width: 106.81;
    height: 80px;
}
.logo span{
    font-size: 30px;
    float: left;
    display: grid;
    align-items: center;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Dancing Script', cursive;
}

header .container{
    width: 50%;
    display: flex;
    float: right;
}
.nav-bar{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
    align-items: flex-end;
}
li{
    color: white;
}
.nav-bar a{
    color: white;
    text-decoration: none;
}
.nav-bar select{
    border-style: none;
    background-color: black;
    color: white;
}

.content1{
    margin: 30px;
    height: 500px;
    margin-top: 110px;
    background-color: #242526;
    background-image: url(imgs/imagem_heros.jpeg);
    background-size: cover;
    color: #ffffff;
    font-size: 20px;
    display: grid;
    align-items: center;
    text-align: center;
}

.definicao{
    margin-top: 100px;
    /* background-color: blue; */
}
.definicao h1{
    font-size: 60px;
    color: white;
    text-align: center;
    align-items: center;
}
.definicao .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.definicao .container img{
    height: 400px;
    width: 400px;
    border-radius: 50px;
}
.definicao span{
    color: white;
    font-size: 36px;
}
/* boxes */
.our-heroes{
    margin-top: 100px ;
    /* background-color: aqua; */
}
.our-heroes h1{
    color: white;
    font-size: 36px;
}
.our-heroes .container{
    margin: 20px;
    /* background-color: blueviolet; */
}
.our-heroes .boxes{
    display: flex;
    /* background-color: chartreuse; */
    padding: 20px;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.our-heroes .box1{
    height: 403px;
    width: 324px;
    background-image: url(imgs/cidada.jpg);
    background-size: cover;
    filter: grayscale(100%);
    cursor: pointer;
    display: grid;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
.our-heroes .box1:hover{
    filter: none;
    box-shadow: 4px 4px 4px 8px black ;
    animation: box1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.our-heroes .box2{
    height: 403px;
    width: 324px;
    background-color: red;
    background-image: url(imgs/urbanos.jpg);
    background-size: cover;
    filter: grayscale(100%);
    cursor: pointer;
    display: grid;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
.our-heroes .box2:hover{
    filter: none;
    box-shadow: 4px 4px 4px 8px black ;
    animation: box1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.our-heroes .box3{
    height: 403px;
    width: 324px;
    background-color: red;
    background-image: url(imgs/mlk.png);
    background-size: cover;
    filter: grayscale(100%);
    cursor: pointer;
    display: grid;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
.our-heroes .box3:hover{
    filter: none;
    box-shadow: 4px 4px 4px 8px black ;
    animation: box1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.iniciativa{
    background-color: white;
    height: 500px;
    padding: 20px;
    text-align: center;
}
.iniciativa .container{
    display: flex;
    justify-content: space-around;
}
.iniciativa img{
    float: left;
    width: 500px;
    height: 334px;
}
.iniciativa .tornar-se {
    float: left;
    font-size: 24px;
    margin-top: 50px;
    text-align: left;
}

#btn{
    display: grid;
    text-align: center;
    align-items: center;
    border-radius: 60px ;
    margin-left: 290px;
    margin-top: 65px;
    width: 300px;
    height: 50px;
    background-color: aqua;
}
#btn a{
    text-decoration: none;
    color: black;
}
#btn:hover{
    box-shadow: 4px 4px 4px 2px #615757b6 ;
    cursor: pointer;
    background-color: brown;
    animation-name: btn_color;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes btn_color {
    0%{ /*quando a animação chegar ao seus 100%*/
        background-color: aqua;
    }
    25%{ /*quando a animação chegar ao seus 100%*/
        background-color: rgb(62, 211, 62);
    }
    50%{ /*quando a animação chegar ao seus 100%*/
        background-color: gold;
    }
    75%{ /*quando a animação chegar ao seus 100%*/
        background-color: rgb(218, 72, 72);
    }
    100%{ /*quando a animação chegar ao seus 100%*/
        background-color: aqua;
    }
    
}

/* cadastro */
.cadastro{
    background-image:url(https://thumbs.gfycat.com/ComplexNiceBadger-max-1mb.gif);
    /* background-image: url(https://thumbs.gfycat.com/CooperativeYearlyLamprey-size_restricted.gif); */
    background-size: cover;
}
.cadastro .container{
    display: flex;
    /* justify-content: space-around; */
}
.marca{
    float: left;
}
.cadastro .container .marca img{
    margin-top: 70px;
    width: 800px;
    /* height: 600px; */
}
.formulario{
    font-family: -apple-syste, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    float: left;
    text-align: center;
    /* display: grid; */
    /* align-items: center; */
    background-color: #ffffff8e;
    border-radius: 20px;
    height: 400px;
    width: 400px;
    margin-top: 170px;
    margin-left: 100px;
    box-shadow: 4px 4px 4px 2px #615757b6;
}
.formulario h3{
    color: rgb(136, 80, 80);
}
.formulario .cadastro-campos{
    margin-top: 10px;
}
.formulario .campo{
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    background-color: white ;
    height: 20px;
    margin-left:35px;
    width: 80% ;
    align-items: center;
}
.formulario img{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
.formulario input{
    border: none;
    width: 85%;
    outline: 0;
}
.formulario select{
    background-color: #ffffff;
    margin-left: 30px;
    text-align: center;
    border: none;
    width: 85%;
    outline: 0;
}
.formulario #btn{
    width: 150px;
    height: 25px;
    margin-left: 235px;
    margin-top: 15px;
    background-color: rgb(136, 80, 80);
    animation: none

}
/* LOGIN */
.login{
    background-image:url(https://thumbs.gfycat.com/ComplexNiceBadger-max-1mb.gif);
    /* background-image: url(https://thumbs.gfycat.com/CooperativeYearlyLamprey-size_restricted.gif); */
    background-size: cover;
}
.form-to-login{
    margin-top: 170px;
    margin-left: 38%;
    background-color: #ffffff8e;
    float: left;
    text-align: center;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    /* box-shadow: 4px 4px 4px 2px #615757b6; */
}
.form-to-login h2{
    margin-top: 60px;
    color: rgb(136, 80, 80);
    font-size: 25px;
}
.campo-login{
    margin-top: 10%;
}
.campo-login .campo{
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    background-color: white ;
    height: 20px;
    margin-left:35px;
    width: 80% ;
    align-items: center;
}
.campo-login .campo img{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
.campo-login .campo input{
        border: none;
        width: 80%;
        outline: 0;
}
.form-to-login #btn{
    width: 150px;
    height: 25px;
    margin-left: 25%;
    margin-top: 15px;
    background-color: rgb(136, 80, 80);
    animation: none
}

/* HEROIS HISTORICOS */
.banner{
    margin-top: 80px;
    width: 100%;
    height: 620px;
    display: grid;
    align-items: center;
    text-align: center;
    background-size: cover;
    animation-name: change_background;
    animation-timing-function: ease;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
@keyframes change_background {
    0%{ /*quando a animação chegar ao seus 100%*/
        background-image: url(https://th.bing.com/th/id/R.d37242ea4705cb0e47519e01d62747ad?rik=4E7iC5trnFw8uA&riu=http%3a%2f%2fwww.judecollins.com%2fwp-content%2fuploads%2f2017%2f04%2fScreen-Shot-2017-04-16-at-10.17.48-768x312.png&ehk=lJWCQMkbOVxWk0k6SDQJkuW0KjDIm61TmofaZs8raK0%3d&risl=&pid=ImgRaw&r=0);
    }
    25%{ /*quando a animação chegar ao seus 100%*/
        background-image: url(https://elsolweb.tv/wp-content/uploads/2017/10/Einstein.jpg);
    }
    50%{ /*quando a animação chegar ao seus 100%*/
        background-image: url(https://www.revistapodium.com/wp-content/uploads/2019/09/369147_908453_40_anos_do_capacete_de_ayrton_senna.jpg);
    }
    75%{ /*quando a animação chegar ao seus 100%*/
        background-image: url(https://brasilguns.com.br/blog/wp-content/uploads/2017/10/hacksaw-ridge-2560x1440-2016-movies-hd-3188.jpg);
    }
    100%{ /*quando a animação chegar ao seus 100%*/
        background-image: url(https://th.bing.com/th/id/R.d37242ea4705cb0e47519e01d62747ad?rik=4E7iC5trnFw8uA&riu=http%3a%2f%2fwww.judecollins.com%2fwp-content%2fuploads%2f2017%2f04%2fScreen-Shot-2017-04-16-at-10.17.48-768x312.png&ehk=lJWCQMkbOVxWk0k6SDQJkuW0KjDIm61TmofaZs8raK0%3d&risl=&pid=ImgRaw&r=0);
    }
}
.banner span{
    color: #ffffff;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.herois-historicos{
    text-align: center;
    color: white;
    /* background-color: white ; */
}
.boxes{
    /* background-color: red; */
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.boxes img{
    float: left;
    width: 400px;
    height: 495.05;
}
.box-text{
    /* padding: 20px; */
    /* background-color: rgba(255, 255, 255, 0.541); */
    height: 200px;
    width: 700px;
    /* margin-top: 80px; */
    /* margin-right: 300px; */
    text-align: left;
    float: left;
    border-radius: 20px;
}
.nome-hero{
    text-align: center;
    background-color: #1a0202;
    width: 20%;
    border: solid;
    border-color: #5e4325;
}
.desc-hero{
    padding: 10px;
    margin-top: 10px;
    float: left;
    background-color: #1a0202;
    width: 100%;
    height: 300px;
    border: solid;
    border-color: #5e4325;
}


/* HEROIS URBANOS */
.banner-urbanos{
margin-top: 80px;
width: 100%;
height: 620px;
display: grid;
align-items: center;
text-align: center;
background-image: url(https://thumbs.gfycat.com/ShoddyQualifiedIguanodon-size_restricted.gif);
background-size: cover;
}
.banner-urbanos span{
    color: #ffffff;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.firefighter-hero{
    background-color: rgb(194, 72, 72);
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    /* color: white; */
}
.firefighter-hero h2{
    margin: 0;
}
.firefighter-hero .descricao{
    width: 50%;
    margin-top: 180px;
    float: left;
    height: 200px;
    /* background-color: blue; */
}
.police-hero{
    background-color: rgb(41, 29, 206);
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;
}
.police-hero h2{
    margin: 0;
}
.police-hero .descricao{
    width: 50%;
    margin-top: 180px;
    float: left;
    height: 200px;
    /* background-color: blue; */
}
.medical-hero{
    background-color: rgb(81, 131, 128);
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 500px;
}
.medical-hero h2{
    margin: 0;
}
.medical-hero .descricao{
    width: 50%;
    margin-top: 180px;
    float: left;
    height: 200px;
    /* background-color: blue; */
}

/* HEROIS CIVIS */
.banner-civis{
    margin-top: 80px;
    width: 100%;
    height: 620px;
    display: grid;
    align-items: center;
    text-align: center;
    animation-name: change_background_civilians;
    animation-timing-function: ease;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* background-image: url(https://imagenes.elpais.com/resizer/Mr_PtE3sLQxKaK19JqS88xTQ_QY=/1960x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/VJBB2VDEBDZOZHVUHE5MWVWVSA.jpg); */
    /* /* background-image: url(https://images.pexels.com/photos/1426497/pexels-photo-1426497.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200); */
    background-size: cover; 
} 
@keyframes change_background_civilians {
    0%{ /*quando a animação chegar ao seus 100%*/
        background-image: url(https://imagenes.elpais.com/resizer/Mr_PtE3sLQxKaK19JqS88xTQ_QY=/1960x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/VJBB2VDEBDZOZHVUHE5MWVWVSA.jpg);
    }
    25%{ /*quando a animação chegar ao seus 100%*/
        background-image: url(https://images.pexels.com/photos/1426497/pexels-photo-1426497.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=627&w=1200);
    }
    50%{ /*quando a animação chegar ao seus 100%*/
        background-image: url(https://i.ytimg.com/vi/KrvTEGFmlSc/maxresdefault.jpg);
    }
    75%{ /*quando a animação chegar ao seus 100%*/
        background-image: url(https://www.state.nj.us/dca/library/spotlight/reentry.jpg);
    }
    100%{ /*quando a animação chegar ao seus 100%*/
        background-image: url(https://imagenes.elpais.com/resizer/Mr_PtE3sLQxKaK19JqS88xTQ_QY=/1960x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/VJBB2VDEBDZOZHVUHE5MWVWVSA.jpg);
    }
}

.banner-civis span{
    color: #ffffff;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Heley-teacher{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d75cae91-229a-4c0f-bd7c-8f683decca88/d96o8ag-9aebb023-c992-4bf9-8364-506b2bb301b9.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q3NWNhZTkxLTIyOWEtNGMwZi1iZDdjLThmNjgzZGVjY2E4OFwvZDk2bzhhZy05YWViYjAyMy1jOTkyLTRiZjktODM2NC01MDZiMmJiMzAxYjkuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.g5N0WT_Tf1vZyVx-td7UCkdnOQfkZfug9R_IhyS9B2Q);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    /* color: white; */
}
.Heley-teacher h2{
    margin: 0;
    color: rgb(244, 249, 255);
}
.Heley-teacher .descricao{
    width: 50%;
    margin-top: 180px;
    margin-left: 150px;
    float: left;
    height: 240px;
    border-bottom: solid rgb(121, 87, 60);
    background-color: rgb(68, 116, 68);
}
.Vinicius-background{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20191025/pngtree-orange-smoke-in-dark-backkground-image_320071.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    /* color: white; */
}
.Vinicius-background h2{
    margin: 0;
    color: rgb(244, 249, 255);
}
.Vinicius-background .descricao{
    width: 50%;
    margin-top: 180px;
    margin-right: 150px;
    float: left;
    height: 240px;
    border-bottom: solid rgb(0, 0, 0);
    background-color: rgb(156, 98, 43);
}
.Paula-background{
    background-image: url(https://istoe.com.br/wp-content/uploads/sites/14/2016/11/42.jpg);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    /* color: white; */
}
.Paula-background h2{
    margin: 0;
    color: rgb(156, 98, 43);
}
.Paula-background .descricao{
    width: 50%;
    margin-top: 180px;
    margin-left: 150px;
    float: left;
    height: 240px;
    border-bottom: solid rgb(121, 87, 60);
    background-color: rgb(248, 255, 248);
}

/* TELA DO USUARIO */
.user{
    background-color: #0e0d0d;
    display: flex;
}
.menu{
    /* display: grid; */
    /* align-items: center; */
    position: fixed;
    float: left;
    height: 695px;
    width: 300px;
    background-color: black;
    border-right: solid #b63f6e;
}
.menu img{
    width: 200px;
    margin-top: 30px;
    margin-left: 50px;
}
.menu #b_usuario{
    margin-top: 60px;
    font-size: 25px;
    color: #b63f6e;
    text-align: center;
    margin-left: 0;
}
.menu h3{
    font-size: 20px;
    margin: 0;
    color: #ffffff;
    text-align: center;
}
.menu h3 :hover{
    border-bottom: solid #b63f6e;
}
.menu #sair_home{
    margin-top: 170px;
}
.opcoes{
    margin-top: 80px;
    text-align: center;
}
.opcoes h3{
    margin-top: 40px;
    margin-left: 0;
}
.opcoes a{
    color: white;
    /* font-size: 20px; */
}
.atividades{
    margin-left: 300px;
    background-color: #0e0d0d;
    width: 100%;
    height: 695px;
}
.theme{
    text-align: center;
    color: white;
    font-size: 20px;
}
.graph{
    background-color: #3030305e;
    display: inline-block;
    width: 45%;
    height: 250px;
    margin-left: 20px;
    /* margin: 10px; */
    padding: 10px;
}
.atividades .container{
    display: grid;
    align-items: center;
    background-color: #3030305e;
    width: 90%;
    height: 100px;
    margin-left: 70px;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
.atividades .container b{
    color: tomato;
}



/* TELA DE RANKING */
.perfil{
    margin-left: 300px;
    background-color: #0e0d0d;
    width: 100%;
    height: 695px;
    text-align: center;
    font-size: 30px;
}
.theme{
    text-align: center;
    color: white;
    font-size: 20px;
}