body{
    margin: 0;
    font-size: arial;
    background-color: #18191A;
}
header{
    position: fixed;
    top: 0;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #000;
    color: red;
    justify-content: space-between;
}
.logo{
    width: 20%;
    display: flex;
    float: left;
    justify-content: space-between;
}
.logo span{
    font-size: 30px;
    float: left;
    display: grid;
    align-items: flex-end;
    margin-bottom: 15px;
}

header .container{
    width: 50%;
    display: flex;
    float: right;
}
.nav-bar{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-evenly;
    align-items: flex-end;
}
li{
    color: white;
}
.nav-bar a{
    color: white;
    text-decoration: none;
}
.nav-bar select{
    border-style: none;
    background-color: black;
    color: white;
}

.content1{
    margin: 30px;
    height: 500px;
    margin-top: 110px;
    background-color: #242526;
    background-image: url(imgs/imagem_heros.jpeg);
    background-size: cover;
    color: #ffffff;
    font-size: 20px;
    display: grid;
    align-items: center;
    text-align: center;
}

.definicao{
    margin-top: 100px;
    /* background-color: blue; */
}
.definicao h1{
    font-size: 60px;
    color: white;
    text-align: center;
    align-items: center;
}
.definicao .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.definicao .container img{
    height: 400px;
    width: 400px;
    border-radius: 50px;
}
.definicao span{
    color: white;
    font-size: 36px;
}
/* boxes */
.our-heroes{
    margin-top: 100px ;
    /* background-color: aqua; */
}
.our-heroes h1{
    color: white;
    font-size: 36px;
}
.our-heroes .container{
    margin: 20px;
    /* background-color: blueviolet; */
}
.our-heroes .boxes{
    display: flex;
    /* background-color: chartreuse; */
    padding: 20px;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
.our-heroes .box{
    height: 403px;
    width: 324px;
    background-color: brown;
}
.our-heroes img{
    height: 403px;
    width: 324px;
}

.iniciativa{
    background-color: white;
    height: 500px;
    padding: 20px;
    text-align: center;
}
.iniciativa .container{
    display: flex;
    justify-content: space-around;
}
.iniciativa img{
    float: left;
    width: 500px;
    height: 334px;
}
.iniciativa .tornar-se {
    float: left;
    font-size: 24px;
    margin-top: 50px;
    text-align: left;
}

#btn{
    display: grid;
    text-align: center;
    align-items: center;
    border-radius: 60px ;
    margin-left: 290px;
    margin-top: 65px;
    width: 300px;
    height: 50px;
    background-color: aqua;
}
#btn:hover{
    box-shadow: 4px 4px 4px 2px #615757b6 ;
    cursor: pointer;
    background-color: brown;
    animation-name: btn_color;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes btn_color {
    0%{ /*quando a animação chegar ao seus 100%*/
        background-color: aqua;
    }
    25%{ /*quando a animação chegar ao seus 100%*/
        background-color: rgb(62, 211, 62);
    }
    50%{ /*quando a animação chegar ao seus 100%*/
        background-color: gold;
    }
    75%{ /*quando a animação chegar ao seus 100%*/
        background-color: rgb(218, 72, 72);
    }
    100%{ /*quando a animação chegar ao seus 100%*/
        background-color: aqua;
    }
    
}
